/* Keyframes untuk animasi gerakan dari bawah ke atas */
@keyframes slideInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.container {
    background-color:#1B4242;
    padding-inline: 3rem;
    padding-block: 4rem;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}


.title {
    color: white;
    font-size: clamp(3rem, 5vw, 5rem);
    margin-block: 0px;
    animation: slideInFromBottom 1.2s ease-out;
}

.desc {
    color: white;
    font-size: 20px;
    animation: slideInFromBottom 1.2s ease-out;
    margin-bottom: 3rem;
}

.imageContent {
  background-repeat: no-repeat;
  background-image: url("../../assets/logo_for_glow.webp");
  background-size: clamp(200px,30vw,425px)
}

.imageContent img{

  backdrop-filter: blur(10px) saturate(1);
  width: clamp(200px,30vw,425px)
}

.button {
    margin-top: 12px;
    margin-bottom: 24px;
    padding: 12px 28px;
    border-radius: 12px;
    text-decoration: none;
    background-color: #D9D9D9;
    border: none;
    font-size: 14px;
    color: #1B4242;
    animation: slideInFromBottom 1.2s ease-out;
}

.coloumn img {
    width: 527px;
    height: auto;
    position:absolute;
    top: 0px;
    right: 0px;
    animation: slideInFromBottom 1.3s ease-out;
}


/* Media query untuk tampilan mobile */
@media (max-width: 768px) {
    .mainContent {
      text-align: center;
    }
    .imageContent img{
      display: none;
    }
  }